format = """
(#fc3d67)$time\
[](bg:#ff823e fg:#fc3d67)\ 
$git_branch\
$git_status\
[](fg:#ff823e bg:#C274DD)\
[](fg:#C274DD bg:#7702A0)\
[](fg:#7702A0 bg:#9A348e)\
$username\
$hostname\
[](fg:#9A348e bg:#86BBD8)\
$c\
$elixir\
$elm\
$golang\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
[](fg:#86BBD8 bg:#06969A)\
$docker_context\
[](fg:#06969A bg:#33658A)\
$directory\
[ ](fg:#33658A)\
"""

# Disable the blank line at the start of the prompt
# add_newline = false

# You can also replace your username with a neat symbol like  to save some space
[username]
show_always = true
#style_user = "bg:#fc3d67"
style_user = "bg:#9A348e"
style_root = "bg:#e41c3f"
format = '[ $user ]($style)'

[hostname]
ssh_only = false
ssh_symbol = ""
#style = "bg:#fc3d67"
style = "bg:#9A348e"
format = '[$ssh_symbol{}$hostname]($style)'
trim_at = "."
disabled = false


[directory]
style = "bg:#33658A"
format = "[ $path ]($style)"
truncation_length = 10
truncation_symbol = "…/"

## Here is how you can shorten some long paths by text replacement
## similar to mapped_locations in Oh My Posh:

#[directory.substitutions]
#"Documents" = " "
#"Downloads" = " "
#"Music" = " "
#"Pictures" = " "
## Keep in mind that the order matters. For example:
## "Important Documents" = "  "
## will not be replaced, because "Documents" was already substituted before.
## So either put "Important Documents" before "Documents" or use the substituted version:
## "Important  " = "  "

[c]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = "" 
style = "bg:#06969A"
format = '[ $symbol $context ]($style) $path'

[elixir]
symbol = ""
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[elm]
symbol = ""
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = " "
style = "bg:#ff823e"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:#ff823e"
format = '[$all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = "" 
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = ""
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
#style = "bg:#9A348E"
style = "bg:#fc3d67"
format = '[  $time ]($style)'

